.search input {
    width: 100%;
    border: none;
    padding: 0.6rem 12px;
    border-radius: 2px;
    box-shadow: 2px 2px 5px rgba(0,0,0,0.2);
}

.search button {
    margin: 1rem 0;
    padding: 6px 10px;
    background: transparent;
    border: 1px solid green;
    color: green;
    border-radius: 2px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.search button:hover {
    background-color: rgba(0,0,0,0.2);
}

@media screen and (min-width: 700px) {
    .search {
        display: flex;
        flex-direction: row;
        align-items: center;
    }
    .search input {
        width: 80%;
        height: 40px;
    }
    .search button {
        margin-left: 10px;
    }
}